@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1, h3 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 3rem;
  margin: 0;
  font-weight: bold;
}

header {
  background-color: #948b8e;
}

header li {
  list-style-type: none;
}

body {
  margin: 0;
}

.nav {
  width: 100%;
  background-color: #fff;
  text-align: center;
  display: inline-block;
  padding: .6em;
  margin: 2em;
  margin: auto;
  line-height: 1.5;
  font-family: sans-serif;
  box-sizing: inherit;
}

nav a {
  display: inline-block;
  padding: .6em;
  background-color: #948b8e;
  text-decoration: none;
  border-radius: 10px;
  color: #fff;
}

nav a:hover {
  background-color: #c53f3b;
  color: #fff;
}

.img-milk {
  width: 100%;
  height: auto;
  float: left;
}

.img-special {
  width: 100%;
  height: auto;
  float: right;
}

.img-flex {
  width: 100%;
  height: auto;
}

.img-review {
  width: 100%;
  height: auto;
}

.reviews {
  text-align: center;
}

.img-location {
  width: 100%;
  height: auto;
}

.location {
  text-align: center;
  border-width: 2px;
  border-radius: 8px;
  border-style: solid;
  display: block;
}

.hrs {
  border-width: 2px;
  border-radius: 8px;
  border-style: solid;
  text-align: center;
}

.img-contact {
  width: 20%;
  height: auto;
}

.contact {
  text-align: center;
  background-color: #fff;
}

footer {
  text-align: center;
  background-color: #2c1608;
  font-size: .9rem;
  padding: 2rem;
  color: #fff;
}

footer p {
  margin-left: .5rem;
  color: #fff;
}

.banner {
  position: relative;
  overflow: hidden;
}

.btn-deal {
  background-position: center;
  position: absolute;
  text-align: center;
  top: 300px;
  left: 0;
  width: 100%;
  font-size: 3rem;
}

figcaption {
  text-align: center;
  color: #3d2117;
  font-size: 1.5rem;
}

.centered-table {
  margin-left: auto;
  margin-right: auto;
}
.sale{
  font-size: 1.5rem;
  background-color: #fefce8;
}

span{
  font-size: 2rem;
  background-color: #fefce8;
}

.banner-content {
  position: absolute;
  width: 100%;
  padding-left: 3rem;
  padding-right: 1rem;
  max-width: 50em;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }
}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }
}
