@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  line-height: 1.5;
  background-color: #177F75;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 40px;
  margin: 0;
  font-weight: bold;
}

header{
  background-color: #fff;
}

header li {
  list-style-type: none;
}

body {
  margin: 0
}

.nav {
  border-top: 1px solid #3f8c7e;
  border-bottom: 1px solid #3f8c7e;
  border-right: 1px solid #3f8c7e;
  float: left;
  width: 100%;
  background-color: #4da696;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  padding: .6em;
  margin: auto;
  margin: auto;
  padding: 0;
  list-style-type: none;
  line-height: 1.5;
  font-family: sans-serif;
}

nav a {
  display: inline-block;
  padding: .6em;
  background-color: #7F171F;
  text-decoration: none;
  border-radius: 10px;
  color: #fff;
}

nav a:hover {
  background-color: #e18942;
  color: #fff;
}

.location {
  border-bottom-width: 4px;
  text-align: center;
}

.contact {
text-align: center;
background-color: #C0C0C0;
}
footer {
  text-align: center;
  
  background-color: #ccc;
  font-size: .9rem;
  padding: 2rem;
}

footer p {
  margin-left: .5rem;
}
